body{
  background-color: rgb(200, 255, 0);
}
.nav{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 353px;
  border: black 1px solid;
  margin: -136px 0px 8px 310px;

  }
.nkar{
  height: 167px;
  width: 168px;
  border-radius: 46%;

}
#btn{
  background-color: aqua;
  margin: 15px 0px 0px 0px;
}
.btn2{
  width: 159px;
  height: 28px;
background-color:aqua ;
  margin: -6px 0px 0px 0px
}

#btnn{
  background-color: aqua;
  margin: 20px 0px 0px 0px;
}


.us{
  width: 146px;
  height: 82px;
  margin: 0px 0px 0px 0px;
}
.am{
  width: 90px;
  height: 82px;
   margin: -13px 0px 0px 0px;
}
.ru{
  width: 90px;
  height: 82px;
   margin: -13px 0px 0px 0px;
}
.nkaru{
  margin: 32px 0px 0px 865px;
  width: 51%;
  height: 64%;
  border-radius: 60%;
}
.nkaram{
  margin: -53px 0px 0px 919px;
  width: 53%;
  height: 58%;
  border-radius: 60%;

}